In [ ]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [5]:
df = pd.read_csv('/media/jax/01DAE00EEA8B1B80/programing/python/ArabinAICourse/studentDepression/studentdepression/data/processed/Student Depression Dataset.csv')

In [6]:
df.head()  # Display the first few rows of the DataFrame

,Age,City,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Work/Study Hours,Financial Stress,Depression,Gender_Female,Gender_Male,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_No,Family History of Mental Illness_Yes
0,18.0,18,2.0,10.0,3.0,2,2,6,8.0,4.0,1,0.0,1.0,0.0,1.0,0.0,1.0
1,19.0,17,1.0,10.0,3.0,3,1,6,2.0,1.0,0,0.0,1.0,0.0,1.0,1.0,0.0
2,19.0,2,1.0,10.0,5.0,3,2,6,6.0,1.0,0,1.0,0.0,1.0,0.0,0.0,1.0
3,20.0,29,4.0,10.0,5.0,0,1,6,11.0,5.0,1,1.0,0.0,1.0,0.0,1.0,0.0
4,21.0,24,5.0,10.0,4.0,3,2,11,5.0,5.0,1,0.0,1.0,0.0,1.0,0.0,1.0